body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#head {
    display: block;
    text-align: center;
  }
  
  
  .main-form {
    margin: 50px;
    display: flex;
    justify-content: center;
  }
  #form {
    width: 800px;
    height: 250px;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #title,
  #genre,
  #releaseDate
  {
    font-size: xx-large;
  }